.click-button {
    background: rgb(var(--button-bg));
    color: rgb(var(--text-normal));
    width: 120px;
    height: 30px;
    font-size: 18px;

    border-radius: 10px;
    padding: 5px 10px;
    height: max-content;

    --click-button-color: var(--normal);
    --click-button-color-sub: var(--normal-sub);

    transition: background 0.1s;

    color: rgb(var(--click-button-color));

    &:focus {
        box-shadow: 0 0 0 2px rgb(var(--click-button-color-sub)) inset;
    }

    &:hover {
        background: rgb(var(--button-bg-hover));
        box-shadow: 0 0 0 2px rgb(var(--click-button-color)) inset;
        
        &:active {
            transition: none;
            color: rgb(var(--click-button-color-sub));
            box-shadow: 0 0 0 2px rgb(var(--click-button-color-sub)) inset;
            background: rgb(var(--button-bg-sub));
        }
    }
}