.textbox {
    width: 300px;
    height: 30px;

    font-size: 18px;
    background: rgb(var(--textbox-bg));
    color: rgb(var(--text));
    border-bottom: 2px solid rgb(var(--textbox));
    border-radius: 5px 5px 0 0;
    padding: 0 10px;
    transition: 0.1s;

    &::placeholder {
        color: rgb(var(--text-sub));
    }

    &:hover {
        border-bottom: 2px solid rgb(var(--accent-sub));
    
        &.positive {
            border-bottom: 2px solid rgb(var(--positive));
        }

        &.negative {
            border-bottom: 2px solid rgb(var(--negative));
        }

        &.alternate {
            border-bottom: 2px solid rgb(var(--alternate));
        }
    }

    &:focus {
        background: rgb(var(--textbox-bg-sub));
        border-bottom: 2px solid rgb(var(--accent));

        &.positive {
            border-bottom: 2px solid rgb(var(--positive));
        }

        &.negative {
            border-bottom: 2px solid rgb(var(--negative));
        }

        &.alternate {
            border-bottom: 2px solid rgb(var(--alternate));
        }
    }
}