:root {
    --bg: #1F1F1F;
    --text: #EEEEEE;
    --text-sub: #808080;
    --text-accent: #8AAAE5;
    --text-alternate: #C7A463;

    background: var(--bg);
}

* {
    margin: 0;
    padding: 0;
}

button {
    font-family: inherit;
    background: none;
    border: none;
}