#header {
    position: fixed;
    width: 100%;
    height: 60px;

    background: rgba(var(--bg), 0.5);
    backdrop-filter: blur(10px);
}

#header-container {
    display: flex;
    justify-content: row;
    gap: 50px;
    
    width: auto;
    height: 40px;

    padding: 10px 20px;
}

#header-items {
    display: flex;
    justify-content: row;
    align-items: center;
    gap: 50px;
}

.header-item {
    display: flex;
    justify-content: row;

    & > span {
        font-size: 20px;
    }

    & > span.accent {
        color: rgb(var(--text));
        transition: color 0.1s;
    }

    & > span.normal {
        color: rgb(var(--text-sub));
        transition: color 0.1s;
    }
    
    &:hover {
        & > span.accent {
            color: rgb(var(--text-accent));
        }
    }
}

#header-user {
    margin-left: auto;
    display: flex;
    justify-content: row;
    align-items: center;
    gap: 5px;
    
    
    text-decoration: none;

    & > svg {
        color: rgb(var(--text));
        width: 28px;
        height: 28px;
    }
}

#header-user-info {
    display: flex;
    justify-content: row;
    align-items: center;
    gap: 5px;

    & > .name {
        color: rgb(var(--text));
        font-size: 20px;
    }
    
    & > .user-type {
        color: rgb(var(--text-alternate));
        font-size: 18px;
    }
}