#log-in-container {
    position: relative;
    margin-top: 100px;
    padding: 0px 20px;

    display: flex;
    flex-direction: column;
}

#log-in-content {
    width: auto;
    background: rgb(var(--bg-high));
    padding: 20px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    & > .unique-id-field, & > .password-field {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;

        & > span {
            width: 80px;
            
            @media (max-width: 440px) {
                width: max-content;
            }
        }
    
        & > .textbox {
            width: 90px;
            flex: auto;
        }
    }
    
    & > .submit-button {
        width: 150px;
        margin: 0 auto;
    }
}